html {
  font-family: Raleway, sans-serif;
}

.nav {
  display: none;
  padding-bottom: 10px;
  padding-top: 0;
}

.nav-check:checked ~ .nav {
  display: block;
}

.nav-label {
  cursor: pointer;
  display: inline-block;
  width: 40px;
}

.nav-open,
.nav-close {
  display: block;
  position: absolute;
  top: .25rem;
  right: .25rem;
}

.nav-close {
  display: none;
}

.nav-check:checked ~ .nav-label .nav-open {
  display: none;
}

.nav-check:checked ~ .nav-label .nav-close {
  display: block;
}

label.nav-label::before {
  display: none;
}

.home-banner {
  height: 35em;
}

.home-banner img {
  width: 100%;
}

.home-banner-blur {
  background-color: rgba(225, 225, 225, .5);
  border-radius: 15px;
  -webkit-filter: blur(2px);
  filter: blur(30px);
  z-index: -1;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;

}

.icon-label {
  color: #d94650;
}

li {
  vertical-align: middle;
}

.home-icon {
  max-width: 400px;
}

.card-type {
  padding-left: 1em;
}

.card-type-1 {
  display: none;
  max-width: 400px;
}

.card-type-3 {
  display: none;
  max-width: 400px;
}

.card-type-5 {
  display: none;
}

/* Colours */

.red {
  color: #d94650;
}

.blue {
  color: #3c3c92;
}

.teal {
  color: #355061;
}

.pink {
  color: #de93b2;
}

.btn-red {
  background-color: #d94650;
  border: 1px solid #d94650;
}

.btn-teal {
  background-color: #426875;
  border: 1px solid #426875;
}

.btn-pink {
  background-color: #de93b2;
  border: 1px solid #de93b2;
}

.btn-blue {
  background-color: #3c3c92;
  border: 1px solid #3c3c92;
}

.back-lt-gray {
  background-color: #f1f1f1;
}

.back-dk-gray {
  background-color: #e2e2e2;
}

.back-white {
  background-color: #fff;
}

.cards-container {
  max-width: 1500px;
  min-height: 250px;
}

.shadow {
  -webkit-box-shadow: 0 15px 15px rgba(230, 230, 230, .5);
  -moz-box-shadow: 0 15px 15px rgba(230, 230, 230, .5);
  box-shadow: 0 15px 15px rgba(230, 230, 230, .5);
  z-index: 1000;

}

.shadow-dk {
  -webkit-box-shadow: 0 15px 15px rgba(128, 128, 128, .3);
  -moz-box-shadow: 0 15px 15px rgba(128, 128, 128, .3);
  box-shadow: 0 15px 15px rgba(128, 128, 128, .3);
  z-index: 1000;
}

.icons {
  max-width: 1500px;
}

.icon-text {
  max-width: 250px;
}

.sign-up-text {
  max-width: 300px;
  display: block;
  margin-left: 1em;
  margin-right: 1em;
}

li a {
  padding: .75em;
  text-decoration: none;
  color: #000;
}

nav a:hover {
  background-color: darkgray;
  border-radius: 10px;
  color: #fff;
}

.banner-text h1 {
  font-size: 1.75em;
  line-height: normal;
}

.current {
  color: #d94650;
}

.card-image-1 {
  display: none;
}

.quote-l {
  display: none;
  max-width: 700px;
}

.testimonial {
  max-width: 750px;
  margin: 0 auto;
}

.test {
  margin: 0 auto;
  max-width: 230px;

}

.sign {
  max-width: 300px;
  margin: 0 auto;
}

.pricing-back {
  background-image: url("../images/background-shapes.svg");
  background-color: #f1f1f1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.price-column {
  max-width: 333.33%;
}

.pricing-box {
  max-width: 290px;
  margin: 0 auto;
}

.pricing-all {
  max-width: 1000px;
  margin: 0 auto;
}

.bullet-red {
  list-style-image: url("../images/bullet-red.svg");
  list-style-position: inside;
}

.price {
  font-size: 2.5em;
}

.bottom-nav {
  max-width: 1500px;
  position: relative;
}

form {
  max-width: 300px;
}

.bottom-logo {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.thank-you {
  line-height: 1.75;
  max-width: 700px;
  margin: 0 auto;
}

input {
  outline: 0;
}

.check {
  font-size: .6em;
  white-space: nowrap;
}

@media only screen and (min-width: 38em) {

  .card-type-1 {
    display: inline-block;
  }

  .card-type-2 {
    display: none;
  }

  .card-type-3 {
    display: inline-block;
  }

  .card-type-4 {
    display: none;
  }

  .card-type-5 {
    display: inline-block;
  }

  .card-type-6 {
    display: none;
  }

  .sign-up-text {
    max-width: 600px;
  }

  .banner-text h1 {
    font-size: 2em;
  }

  .card-image-1 {
    display: inline-block;
  }

  .card-image-2 {
    display: none;
  }

  .quote-l {
    display: block;
  }

  .quote-sm {
    display: none;
  }

}

@media only screen and (min-width: 60em) {

  html {
    font-size: 130%;
  }

  .home-banner {
    height: auto;
    width: 100%;
  }

  .nav {
    display: inline-block;
    text-align: center;
    float: right;
  }

  .li {
    display: inline-block;
  }

  .nav-check:checked ~ .nav {
    display: inline-block;
  }

  .nav-label {
    cursor: pointer;
    display: none;
    width: 40px;
  }

  .nav-open,
  .nav-close {
    display: none;
  }

  .nav-close {
    display: none;
  }

  .nav-check:checked ~ .nav-label .nav-open {
    display: none;
  }

  .nav-check:checked ~ .nav-label .nav-close {
    display: none;
  }

  label.nav-label::before {
    display: none;
  }

  nav li:last-child a {
    background-color: #d94650;
    border-radius: 10px;
    color: #fff;
  }

  nav li:last-child a:hover {
    background-color: #000;
    border-radius: 10px;
    color: #fff;
  }

  nav li:last-child .btn-none {
    background-color: #fff;
    border-radius: 10px;
    color: #000;
  }

  nav li:last-child .btn-none:hover {
    background-color: darkgray;
    border-radius: 10px;
    color: #fff;
  }

  .sign {
    margin-left: 10em;
    margin-right: 10em;
  }

  .bottom-pricing {
    height: 563px;
    position: relative;
  }

  .pricing-btn {
    position: absolute;
    bottom: 1.5em;
  }

  form {
    max-width: none;
  }

  .form {
    min-width: 500px;
    max-width: 800px;
  }

}

@media only screen and (min-width: 80em) {

  .bottom-nav {
    text-align: center;
    margin: 0 auto;
    position: static;
  }

  .bottom-nav ul li {
    display: inline-block;
  }

  .bottom-logo {
    position: static;
  }

  .bottom-nav div a {
    float: none;
  }

}

@media only screen and (min-width: 120em) {

  html {
    font-size: 130%;
  }

  .logo {
    position: absolute;
    left: 20%;
    top: 1.5em;
  }

  .nav li {
    padding-left: 2em;
    margin-top: 20px;
  }

  .nav-top {
    padding-right: 20em;
  }

  .banner-text h1 {
    font-size: 3.5em;
    white-space: nowrap;
  }

  .home-banner-caption {
    font-size: 2em;
    line-height: inherit;
  }

  .home-banner-blur {
    font-size: 2em;
    line-height: inherit;
  }

}
