html {
  font-family: 'Raleway', sans-serif;
}

.nav {
  display: none;

}

.nav-check:checked ~ .nav{
  display: block;
}

.nav-label {
  cursor: pointer;
  display: inline-block;
  width: 40px;
}

.nav-open,
.nav-close {
  display: block;
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;
}

.nav-close {
  display: none;
}

.nav-check:checked ~ .nav-label .nav-open {
  display: none;
}

.nav-check:checked ~ .nav-label .nav-close {
  display: block;
}

label.nav-label::before {
  display: none;
}

.home-banner {
  height: 35em;
}

.home-banner img {
  width: 100%;
}

h1 {
  font-size: 2em;
  line-height: 1.4;
}

.btn-red {
  background-color: #d94650;
  border:  1px solid #d94650;
}

.btn-teal {
  background-color: #426875;
  border:  1px solid #426875;
}

.home-banner-blur{
  background-color: rgba(242, 242, 242, .5);
  border-radius: 15px;
}

.home-banner-blur {

  -webkit-filter:blur(2px);
    filter:blur(30px);
    z-index: -1;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

}

.icon-label {
  color: #d94650;
}

li {
  vertical-align: middle;
}

.home-icon {
  max-width: 400px;
}

.card-type-1 {
  display: none;
  max-width: 400px;
}

.card-type-3 {
  display: none;
  max-width: 400px;
}


.red {
  color: #d94650;
}

.blue {
  color: #3c3c92;
}

.cards-container {
  max-width: 1000px;
  min-height: 250px;
}

.icon-list,
.cards {
  box-shadow: 0 15px 15px #e6e6e6;
}

.icons {
  max-width: 1000px;
}

.icon-text {
  max-width: 250px;
}

.back-lt-gray {
  background-color: #f1f1f1;
}

.back-dk-gray {
  background-color: #e2e2e2;
}

.sign-up-text {
  max-width: 300px;
}
@media only screen and (min-width: 38em) {

  .card-type-1 {
    display: inline-block;
  }

  .card-type-2 {
    display: none;
  }

  .card-type-3 {
    display: inline-block;
  }

  .card-type-4 {
    display: none;
  }

  .sign-up-text {
    max-width: 400px;
  }

}
@media only screen and (min-width: 55em) {

  .home-banner {
    height: auto;
    width: 100%;
  }

}

@media only screen and (min-width: 100em) {


  .home-banner-blur {
    white-space: nowrap;
  }

}
